bin/
.project
.classpath
nbproject/
build.xml
manifest.mf
readme.md
build/
dist/
*.iml
.idea/
.gradle/
out/
pimp/
libs/*.so
src/META-INF/
*.swp
*.json
classes/
production/
*.properties
workingdirectory/
*.ipr
*.sqlite
*.iws
pimp/
src/main/java/com/techcavern/wavetactdb/
*.log
