bin/
.project
.classpath
nbproject/
build.xml
manifest.mf
readme.md
build/
dist/
*.iml
.idea/
.gradle/
out/
pimp/
src/META-INF/
*.swp
servers/
databases/
*.json
classes/
production/
*.properties
workingdirectory/
*.ipr
*.iws
src/main/java/test/